[Desktop Entry]
Type=Application
Name=MBLINK
Comment=Mercedes-Benz diagnostic command interface
Exec=/usr/bin/mblink-linux
Icon=mblink
Terminal=false
Categories=Utility;System;
Keywords=Mercedes;OBD;OBD-II;Diagnostics;Vehicle;
StartupNotify=true
