# SPDX-License-Identifier: GPL-3.0-or-later
# MBLINK pins this submodule to the verified Infiltratr Common release commit.
[submodule "src/infiltratr-common"]
	path = src/infiltratr-common
	url = https://github.com/The-First-Infiltrator/Infiltrator-Libraries.git
